<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.gj.weidumovie.core.WDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gj.weidumovie.FindUserBuyTicketActivity"></activity>
        <activity android:name="com.gj.weidumovie.MyLikeActivity" />
        <activity android:name="com.gj.weidumovie.UpdatePwdActivity" />
        <activity android:name="com.gj.weidumovie.FeedbackSuccessActivity" />
        <activity android:name="com.gj.weidumovie.FeedbackActivity" />
        <activity android:name="com.gj.weidumovie.MovieDetailsShow" />
        <activity android:name="com.gj.weidumovie.MovieShowActivity" />
        <activity android:name="com.gj.weidumovie.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gj.weidumovie.ShowActivity" />
        <activity android:name="com.gj.weidumovie.LoginActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="720" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

        <activity android:name="com.gj.weidumovie.GuidePageActivity" />
        <activity android:name="com.gj.weidumovie.HomeActivity" />
        <activity android:name="com.gj.weidumovie.RegisterActivity" />
        <activity android:name="com.gj.weidumovie.MyMassageActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KbRr2jllvLmVMqhGH2ldwIRO1Kxrwmjc" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name="com.gj.weidumovie.MyCanBuyMovieActivity" />
        <activity android:name="com.gj.weidumovie.MovieBuyActivity" />
        <activity android:name="com.gj.weidumovie.MyCanBuyMovieActivity"/>
        <activity android:name="com.gj.weidumovie.MovieBuyActivity"/>
        <activity android:name="com.gj.weidumovie.MovieBuyShowActivity"/>
        <activity
            android:name="com.bw.movie.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name="com.gj.weidumovie.MovieCinemaActivity"/>
    </application>

</manifest>